<div class="wrap-content">
    <div class="title">Fix Title</div>
    <div class="inner">
        <div class="content">
            <div id="dataList"></div>
        </div>
        <form id="form_elm">
            <div class="box-inp">
                <label for="phone">Enter a Fullname:</label>
                <input type="text" name="eng_name" placeholder="นนน กกก" required>
            </div>
            <div class="box-inp">
                <label for="phone">Enter a phone number:</label>
                <input type="text" id="phone" name="phone" placeholder="1234567890" required>
            </div>
            <div class="box-inp">
                <label for="phone">Enter a Email:</label>
                <input type="email" name="email" placeholder="name@email.com" required>
            </div>
        </form>
        <div class="btn-submit">บันทึก</div>
    </div>
</div>