header {
    max-height: 120px;
    nav {
        ul {
            display: flex;
            li {
                margin-right: 10px;
                &:last-child {
                    margin-right: unset;
                }
            }
        }
    }
}